@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
.containerr
{
    position: fixed;
    z-index: 1;
       width: 100%;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       background-color:white;
       padding: 10px 50px;
        box-shadow: 0 0px 2px var(--black-a7);
        overflow: hidden;
}
  
.emg-btn
{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 4px 10px;

}
.icon-logo
{
    width: 120px;
    height: 30px;
    
}
.logo{
    width: 150px;
    height: 100%;
}